<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif:200|Oswald|Roboto:300" rel="stylesheet" type="text/css">
		<link type="text/css" rel="stylesheet" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">home</a></li>
	        	<li><a href="/about">about</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">blog</a></li>
    		</ul>
		</nav>
		<img src="/img/3.png" alt="eclectic minimalist" height="350" width="350" align="middle"> 

		<div class="container">
      		
		{{ content }}
		
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:xandra.florea@gmail.com">email</a></li>
        		<li><a href="https://github.com/alexandra-florea">github.com/alexandra-florea</a></li>
			</ul>
		</footer>
	</body>
</html>
